<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="http://localhost:3000/login" method="post">
		<input type="text" name="username"><br>
		<!-- <input type="text" name="timePublish"><br> -->
		<input type="password" name="password" id=""><br>
		<textarea height="150px" name="content123"></textarea><br>
		<input type="submit" value="submit">
	</form>


<!-- 
	<table>
		<tr>
			<td><input type="checkbox" name="" id="as"></td>
			<td><img src="https://via.placeholder.com/350x150"></td>
			<td><h3>this is a title</h3></td>
			<td><h3>60</h3></td>
			<td><button>-</button><span>2</span><button>+</button></td>
			<td>all price <span>120</span></td>
		</tr>

	</table> -->
</body>
</html>