doctype html
html
	head
		title form demo
	body
		form(action="/hello",method="post")
			input(type="text",placeholder="name",name="username")
			input(type="password",placeholder="password",name="password")
			input(type="submit",value="submit")