doctype html
html
	head
		title Person
	body
		form(action="/person",method="post")
			div#app.c
				input(name="name")
				br
				input(name="age")
				br
				input(name="nationality")
				br
				button(type="submit") Create new person